/* Colours */

:root {
  --orange: rgba(238, 101, 87, 1);
  --lightorange: rgb(253, 241, 239, 1);
  --offwhite: rgba(245, 245, 245, 1);
  --offwhitelight: rgba(245, 245, 245, 0.5);
  --grey: rgba(179, 179, 179, 1);
  --blue: rgb(23, 162, 184, 1);
  --lightblue: rgb(233, 246, 248, 1);
  --charcoal: rgba(24, 24, 24, 1);
  --transparent: rgba(0, 0, 0, 0);
}

/**********************************************************************************************************/
/*Types ***************************************************************************************************/
/**********************************************************************************************************/

body,
html {
  background-color: white;
  /*text-align: center;*/
}

html {
  overflow-y: scroll;
}

h1 {
  font-family: "Permanent Marker", sans-serif;
  font-size: 50px;
  color: var(--charcoal);
}

body,
h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: var(--charcoal)! important;
}

table {
  border-collapse:separate;
  border-spacing: 0px 3px;

}

textarea {
  min-height: 30px;
  width: 100%;
  resize: vertical;
  border: none;
  background-color: transparent;
}

.form-control {
  border-color: var(--blue) !important;
}

.form-control:focus {
  border-color: var(--blue) !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23,162,184, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23,162,184, 0.6);
} 

.copiable:hover {
  cursor: copy;
  filter: opacity(80%);
  /*filter: brightness(80%);*/
} 

.copiable:active {
  cursor: copy;
  filter: opacity(50%);
} 

.copiable:

tr {
  /*height: 30px;*/
}

td,
th {
  /*text-align: center;*/
  border-bottom: 1px solid white;
  border-top: 1px solid white
  /*border: none;*/
  /*width: 50%;*/
}

p {
  line-height: 2
}

/*a {
  text-decoration: none;
}

a:hover {
  color: var(--blue);
  text-decoration: none;
}
*/
button:focus {
  outline:0;
}

/**********************************************************************************************************/
/*Classes & Attributes ************************************************************************************/
/**********************************************************************************************************/

.form-control {
  border-color: var(--blue) !important;
}

.form-control:focus {
  border-color: var(--blue) !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23,162,184, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23,162,184, 0.6);
}

.copiable:hover {
  cursor: copy;
  filter: opacity(80%);
}

.copiable:active {
  cursor: copy;
  filter: opacity(50%);
}

.div-side {
  display: table;
  position: absolute;
  height: 100%;
  width: 40%;
}

.div-outer {
  display: table;
  position: absolute;
  height: 80%;
  width: 100%;

}

.div-middle {
  display: table-cell;
  vertical-align: middle;
}

.div-inner {
  margin-left: 20%;
  margin-right: 20%;
}

.td-hex, .td-rgb {
  width: 5%;
}

.hidden {
  visibility: hidden;
}

.alert {
  margin-bottom: 0px;
}

div[data-alert-type="info"] {
  color: var(--blue) !important;
  background-color: var(--lightblue) !important;
  border-color: var(--blue) !important;
}

div[data-alert-type="error"] {
  color: var(--orange) !important;
  background-color: var(--lightorange) !important;
  border-color: var(--orange) !important;
}

.sticky {
  position: sticky;
  top: 10px;
  z-index: 100;
}

.negative-btn {
  color: var(--orange);
  background-color: #ffffff;
  border-color: var(--orange);
}

.negative-btn:hover {
  color: #ffffff;
  background-color: var(--orange);
  border-color: var(--orange);
}

.dropdown-item:active {
  background-color: var(--blue);
}

/**********************************************************************************************************/
/*Identifiers *********************************************************************************************/
/**********************************************************************************************************/

#div-content {
  margin-left: 25%;
  margin-right: 25%;
  vertical-align: middle;
}

/*#headers {*/
  /*display: none; */
/*}*/

/*#tabletext {
  background-color: var(--offwhitelight);
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}*/

#i-copy {
  color: var(--transparent);  rgb(0,4
}

#i-copy {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  display: block;
}

#td-copy {
  width: 2%;
}

#viewColours {
  width: auto;
}

#clearValues {
  width: auto;
}

#clearValues:hover {
  background-color: var(--orange);
}

#hexOutput {
  width: 50% !important;
}

#rgbOutput {
  width: 50% !important;
}

#alertModal {
    visibility: hidden !important;
    color: var(--blue) !important;
    background-color: var(--blue) !important;
    border-color: var(--blue) !important;
}

#alert {
/*  margin: 0 0 0 0! important;
  width: 100%! important;
  background-color: var(--blue)! important;
  color: white! important;
  position: fixed! important;
  top: 0! important;
  left: 0! important;
  right: 0! important;
  z-index: 9999! important;*/
}
